* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 47, 51);
}

.btn {
    margin: 0 10px;
    padding: 5px 40px;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
